<div *ngIf="result">
  <table mat-table [dataSource]="totalWins" class="mat-elevation-z8">
    <ng-container matColumnDef="winner">
      <th mat-header-cell *matHeaderCellDef> PLAYER </th>
      <td mat-cell *matCellDef="let totalWin"> {{totalWin.winner}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef> WINS </th>
      <td mat-cell *matCellDef="let totalWin"> {{totalWin.wins}} </td>
      <td mat-footer-cell *matFooterCellDef> {{result.draws +result.firstWins+result.secondWins}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="tableColumns"></tr>
  </table>
</div>

<button (click)="goToGame()" class="button button1">Go To Game</button>